NUXT_DATABASE_URL=postgres://postgres:postgres@localhost:5432/onlyfurs
NUXT_S3_ENDPOINT=http://localhost:9000
NUXT_S3_REGION=local
NUXT_S3_ACCESS_KEY_ID=secret-key
NUXT_S3_SECRET_ACCESS_KEY=secret-key
NUXT_PUBLIC_UMAMI_HOST=http://192.168.1.46:3000
NUXT_PUBLIC_UMAMI_ID=33e454b8-55c5-44d2-ae59-cba250ccf2ba
